node_modules/
dist/
out/
*.log
.DS_Store
*.tsbuildinfo
coverage/
*.db
*.db-wal
*.db-shm
*.backup-*

# portal
apps/portal/.next/
apps/portal/data/
/apps/portal/public/embed.js
/apps/portal/public/embed.css
/deploy/portal/.env
docs/superpowers/*
